*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a, *::before, *::after {
    display: inline-block;
}

html, body {
    height: 100%;
    min-width: 320px;
    line-height: 1;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: inherit;
    font-size: inherit;
}