@import "reset.css";

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  background-color: #0F172A;
  color: #fff;
/*  max-width: 1280px;
  width: 100%;*/
}

[class*="__cpntainer"]{
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}